<?xml version="1.0" encoding="UTF-8"?>
<?include common.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="A04AF653-5F11-43A3-953E-D25582013AD3" Name="$(var.PRODUCT)" Language="1033" Version="$(var.VERSION)" Manufacturer="$(var.MANUFACTURER)" UpgradeCode="F5FB6FA9-00D2-47A6-8714-FE26EF3E9D50">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <!-- Build into single installer file -->
    <MediaTemplate EmbedCab="yes" />
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of $(var.PRODUCT) is already installed." />

    <Feature Id="Complete" Title="$(var.PRODUCT)" Level="1">
      <ComponentGroupRef Id="CompleteComponents" />
      <ComponentRef Id='ProgramMenuDir' />
    </Feature>

    <!--Icons-->
    <Icon Id="APPLICATIONICON.ico" SourceFile="ProjectFiles\app.ico" />
    <!--<Icon Id="ADDREMOVEICON.ico" SourceFile="ProjectFiles\addremove.ico" />-->
  </Product>

  <Fragment>
    <!-- Installation Folder -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ManufacturerFolder" Name="$(var.MANUFACTURER)">
          <Directory Id="INSTALLFOLDER" Name="$(var.PRODUCT)" />
        </Directory>
      </Directory>
      <!-- Start Menu Folder -->
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="$(var.PRODUCT)">
          <Component Id="ProgramMenuDir" Guid="9E302CFB-582D-4FF8-8AC1-527611ED4A74">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\$(var.MANUFACTURER)\$(var.PRODUCT)' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
      <!-- Desktop Folder -->
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="CompleteComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="6B4BF393-4B10-4EC0-8261-507484FB2BA6">
        <!-- TODO: Insert files, registry keys, and other resources here. -->
        <File Id='DashboardExe' Name='BrewMonitorDashboard.exe' DiskId='1' Source='$(var.BrewMonitorDashboard.TargetDir)BrewMonitorDashboard.exe' KeyPath='yes'>
          <Shortcut Id="startmenuShortcut" Directory="ProgramMenuDir" Name="BrewMonitor Dashboard" WorkingDirectory='INSTALLDIR' Icon="APPLICATIONICON.ico" IconIndex="0" Advertise="yes" />
          <Shortcut Id="desktopShortcut" Directory="DesktopFolder" Name="BrewMonitor Dashboard" WorkingDirectory='INSTALLDIR' Icon="APPLICATIONICON.ico" IconIndex="0" Advertise="yes" />
        </File>
        <File Id='BrewMonDll' Name='BrewMonitor.dll' DiskId='1' Source='$(var.BrewMonitorDashboard.TargetDir)BrewMonitor.dll' KeyPath='no'/>
        <File Id='ClosedXmlDll' Name='ClosedXML.dll' DiskId='1' Source='$(var.BrewMonitorDashboard.TargetDir)ClosedXML.dll' KeyPath='no'/>
        <File Id='OpenXmlDll' Name='DocumentFormat.OpenXml.dll' DiskId='1' Source='$(var.BrewMonitorDashboard.TargetDir)DocumentFormat.OpenXml.dll' KeyPath='no'/>
        <File Id='MvvmLightExtrasDll' Name='GalaSoft.MvvmLight.Extras.WPF45.dll' DiskId='1' Source='$(var.BrewMonitorDashboard.TargetDir)GalaSoft.MvvmLight.Extras.WPF45.dll' KeyPath='no'/>
        <File Id='MvvmLightDll' Name='GalaSoft.MvvmLight.WPF45.dll' DiskId='1' Source='$(var.BrewMonitorDashboard.TargetDir)GalaSoft.MvvmLight.WPF45.dll' KeyPath='no'/>
        <File Id='HidLibraryDll' Name='HidLibrary.dll' DiskId='1' Source='$(var.BrewMonitorDashboard.TargetDir)HidLibrary.dll' KeyPath='no'/>
        <File Id='ServiceLocationDll' Name='Microsoft.Practices.ServiceLocation.dll' DiskId='1' Source='$(var.BrewMonitorDashboard.TargetDir)Microsoft.Practices.ServiceLocation.dll' KeyPath='no'/>
        <File Id='NLogConfig' Name='NLog.config' DiskId='1' Source='$(var.BrewMonitorDashboard.TargetDir)NLog.config' KeyPath='no'/>
        <File Id='NLogDll' Name='NLog.dll' DiskId='1' Source='$(var.BrewMonitorDashboard.TargetDir)NLog.dll' KeyPath='no'/>
        <File Id='SparrowChartDll' Name='Sparrow.Chart.Wpf.40.dll' DiskId='1' Source='$(var.BrewMonitorDashboard.TargetDir)Sparrow.Chart.Wpf.40.dll' KeyPath='no'/>
        <File Id='WindowsInteractivityDll' Name='System.Windows.Interactivity.dll' DiskId='1' Source='$(var.BrewMonitorDashboard.TargetDir)System.Windows.Interactivity.dll' KeyPath='no'/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>