<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.73.0" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net45" />
  <package id="MvvmLightLibs" version="4.2.30.0" targetFramework="net45" />
  <package id="NLog" version="3.1.0.0" targetFramework="net45" />
  <package id="NLog.Config" version="3.1.0.0" targetFramework="net45" />
  <package id="NLog.Schema" version="3.1.0.0" targetFramework="net45" />
  <package id="Sparrow.Chart.Wpf" version="13.1.0.117" targetFramework="net45" />
</packages>